:root {
    --bg-500: #FFFFFF;
    --bg-400: #F4F5F5;
    --bg-300: #EFF0F0;
    --bg-200: #EAEBEB;
    --bg-100: #D5D8D6;

    --fg-500: #0A0B0A;
    --fg-400: #272A29;
    --fg-300: #3F4643;
    --fg-200: #5C6662;
    --fg-100: #84908B;

    --accent: #4465E9;

    --size-xxl: 48px;
    --size-xl: 32px;
    --size-lg: 24px;
    --size-md: 16px;
    --size-sm: 8px;
    --size-xs: 4px;
}

* {
    font-size: var(--size-md);
    line-height: var(--size-lg);

    margin: 0;
    padding: 0;
}

body {
    background-color: var(--bg-500);
}

h1, h2, h3, h4, h5, h6, p, li, pre, code {
    font-family: "JetBrains Mono", monospace;
    font-weight: 400;
    font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    color: var(--fg-500);
}

h1, h2 {
    font-size: 32px;
    line-height: 40px;
    margin-top: 48px;
    margin-bottom: 24px;
}

h3, h4 {
    font-size: 24px;
    line-height: 32px;
    margin-top: 32px;
    margin-bottom: 12px;
}

h5, h6 {
    font-size: 18px;
    line-height: 28px;
    margin-top: 32px;
    margin-bottom: 12px;
}

p, a, ul, ol {
    font-size: 16px;
    line-height: 24px;
    color: var(--fg-400);
    margin-bottom: 12px;
}

a {
    color: var(--accent);
}


ul, ol {
    list-style-position: inside;
    margin-top: 0;
    margin-bottom: var(--size-md);
}

ul ul, ol ol, ul ol, ol ul {
    margin-bottom: 0;
    margin-top: var(--size-xs);
    padding-left: var(--size-lg);
}

li p {
    display: inline;
    margin: 0;
}

blockquote {
  margin: var(--size-lg) 0;
  padding-left: var(--size-md);
  border-left: 4px solid #ccc;
  font-style: italic;
}

p:has(img) {
    display: block;
}

img {
    width: 100%;
    border-radius: 24px;
}

.math-inline {
    background: transparent !important;
    padding: 0 !important;
    border: none !important;
}

.math-display {
    text-align: center;
}

.hljs {
    padding: 0 !important;
}

code {
    background-color: transparent !important;
}

p code:not(.language-math), li code:not(.language-math) {
    background-color: #f5f5f5 !important;
    border-radius: 6px;
    padding: 0 4px;
    border: 2px solid #f0f0f0;
}

pre:has(code:not(.language-math)) {
    border-radius: 24px;
    background-color: #f5f5f5;

    margin: 24px 0;
    padding: 24px;
}

header {
    display: flex;
    justify-content: center;
}

header p {
    color: var(--fg-100);
}

.container {
    max-width: 552px;

    margin: 0 auto;
    padding: 24px;
}
